{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<h1 style = "margin: 10px"> Home </h1>
<div style="width: 100%;">
    <div style="width: 50%; float: left;"> 
        <p style = "margin: 10px">
        Welcome to my personal website! <br>
        <br>
        While my interest has mostly been focused around finance and data science, I always thought it would
        be fun to build my own website. Throughout the years I have slowly built up my knowledge of
        various web development languages (HTML, CSS, Javascript, etc.), and after watching some tutorials
        about using a Python module (Flask) as a back end, I finally had the basic tools to create my own
        "resume site" to showcase my skills in a different format than LinkedIn allows. I know I still have
        a long way to go before I can create a really cool site, but that is the fun of it, right? <br>
        <br>
        Just like I mention on LinkedIn with my Kaggle profile, more work is always being added, so please 
        check back often! <br>
        <br>
        -Nick Bultman <br>
        <br>
        Email: njbultman74@gmail.com <br>
        <br>
        Phone: 608-445-4784
        </p> 
    </div>
    <div style="margin-left: 75%; height: 50%;"> 
        <img  src="/static/Professional_Photo.jpeg" alt="Professional Photo">
</div>

{% endblock %}